<!-- Navigation -->
<nav class="flex-grow-1">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-2" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door me-3"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-2" asp-area="" asp-controller="Usuario" asp-action="Index">
                <i class="bi bi-person-fill-gear me-3"></i>
                <span>Usuarios</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-2" asp-area="" asp-controller="Usuario" asp-action="Index">
                <i class="bi bi-person-fill-gear me-3"></i>
                <span>Estudiantes</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-2" href="#">
                <i class="bi bi-journal-text me-3"></i>
                <span>Cursos/Notas</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-2" href="#">
                <i class="bi bi-calendar-event me-3"></i>
                <span>Planificación</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-2" href="#">
                <i class="bi bi-graph-up me-3"></i>
                <span>SLA</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-2" href="#">
                <i class="bi bi-laptop me-3"></i>
                <span>Recursos Tecnológicos</span>
            </a>
        </li>
    </ul>
</nav>